.menu {
    background: white;
      padding: 10px;
      width: 150px;
      position: fixed;
      height: 100%;
      left: 0;
      top: 0;
  }

  // telephone
@media (min-width: 0px) and (max-width: 768px) {
    .menu{
        display: none;
    }

}