.container-furniture-type{
    height: 150px;
    width: 250px;
    margin-bottom: 20px;
}

h2{
    text-align: center;
}
.picto{
    display: block;
    height: 100px;
    margin: auto;
}

.rayure{
    background: linear-gradient(45deg, black 1%, white 1%, white 49%, black 49%, black 51%, white 51%, white 99%, black 99%);
    background-size: 20px 20px;
    background-position: 50px 50px;
}
.rayure-small{
    background: linear-gradient(45deg, black 1%, #fff 1%, #fff 49%, black 49%, black 51%, #fff 51%, #fff 99%, black 99%);
    background-size: 6px 6px;
    background-position: 50px 50px;
}
.poid{
    background-color: white;
    background-image: radial-gradient(circle, black 10%, white 10%), radial-gradient(circle, black 10%, white 10%);
    background-size: 20px 20px;
    background-position: 0 0, 50px 50px;
}
.poid-small{
    background-color: #fff;
    background-image: radial-gradient(circle, black 6%, transparent 10%), radial-gradient(circle, black 6%, transparent 10%);
    background-size: 10px 10px;
    background-position: 0 0, 50px 50px;
}