<section>
    <app-menu></app-menu>
</section>
<section class="">
    <app-material></app-material>

</section>
<section class="marges">
    <article>
        <div class="card container-furniture-type">
            <div class="cote-cote">
                <div class="rectangle rayure-small"></div>
                <h2>Armoire</h2>
            </div>

            <img src="assets/armoire.svg" alt="Armoire" class="picto">
        </div>
        <div class="card container-furniture-type">
            <div class="cote-cote">
                <div class="rectangle poid-small"></div>
                <h2>Étagère</h2>
            </div>

            <img src="assets/etagere.svg" alt="Étagère" class="picto">
        </div>
    </article>
</section>