.container-furniture-type{
    flex: 0 0 30%;
    max-width: 30%;
    box-sizing: border-box;
}
.card-furniture-type{
    height: 150px;
    // width: 250px;
    margin-bottom: 20px;
}

h2{
    text-align: center;
}
.picto{
    display: block;
    height: 100px;
    margin: auto;
}

.rayure{
    background: linear-gradient(45deg, white 1%, #d14334 1%, #d14334 49%, white 49%, white 51%, #d14334 51%, #d14334 99%, white 99%);
    background-size: 20px 20px;
    background-position: 50px 50px;
}
.rayure-small{
    background: linear-gradient(45deg, white 1%, #d14334 1%, #d14334 49%, white 49%, white 51%, #d14334 51%, #d14334 99%, white 99%);
    background-size: 6px 6px;
    background-position: 50px 50px;
}
.poid{
    background-color: #34495E;
    background-image: radial-gradient(circle, white 10%, #34495E 10%), radial-gradient(circle, white 10%, #34495E 10%);
    background-size: 20px 20px;
    background-position: 0 0, 50px 50px;
}
.poid-small{
    background-color: #34495E;
    background-image: radial-gradient(circle, white 6%, transparent 10%), radial-gradient(circle, white 6%, transparent 10%);
    background-size: 10px 10px;
    background-position: 0 0, 50px 50px;
}

// telephone
@media (min-width: 0px) and (max-width: 768px) {
    .container-furniture-type{
        flex: 0 0 100%;
        max-width: 100%;

    }
}