<app-menu></app-menu>

<section class="">
    <app-material></app-material>
</section>
<section class="marges espace-entre">
    <article class="container-furniture-type">
        <div class="card card-furniture-type">
            <div class="cote-cote">
                <div class="rectangle rayure-small"></div>
                <h2>Armoire</h2>
            </div>

            <img src="assets/armoire.svg" alt="Armoire" class="picto">
        </div>
        <div class="card card-furniture-type">
            <div class="cote-cote">
                <div class="rectangle poid-small"></div>
                <h2>Étagère</h2>
            </div>

            <img src="assets/etagere.svg" alt="Étagère" class="picto">
        </div>
    </article>
    <app-graph-barre></app-graph-barre>
</section>
<section class="marges">

</section>
<section class="marges">
    <app-furniture></app-furniture>
</section>